.social-media {
  background-color: rgb(10, 204, 75);
  margin: 50px 0px;
  text-align: center;
}

h1 {
  padding-top: 50px;
  font-size: 80px;
  font-weight: 700;
  text-shadow: 3px 3px 0px white;
}


.social-media-options li{
  display: inline-block;
  font-weight: bold;
  list-style-type: none;
  /* margin: 50px 13.5%; */
  margin: 0 auto;
  padding: 50px 150px 50px 150px;
}