.social-media {
  background-color: rgb(47, 150, 247);
  margin: 50px 0px;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32rem;
}

.social-media-icon {
  width: 250px;
  height: 250px;
}