
.projects {
    background-color: rgb(10, 204, 75);
    margin: 50px 0px;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    color: yellow;
  }

  #title {
    font-size: 80px;
    font-weight: 700;
    padding-top: 50px;
    text-shadow: 3px 3px 0px white;
    color: brown;
    }

  .first-project{
    padding-top: 50px;
    text-shadow: 2px 2px 5px black;
  }

  .project{
    padding-top: 100px;
    text-shadow: 2px 2px 5px black;
  }

  .project h2, .first-project h2{
    font-size: 44px;
  }

  .project-desc{
    font-size: 42px;
    width: 1100px;
    text-align: left;
    margin: 0 auto;
    padding-top: 50px;
    color: white;
  }

  #compiler-project {
    padding-bottom: 100px;
  }

  /* .projects h2{
    font-size: 44px;
  }


  .project-desc{
    font-size: 22px;
    width: 550px;
    padding-left: 50px;
  }

  #compiler-project{
    padding-bottom: 50px;
  } */


  