
.projects {
    background-color: rgb(10, 204, 75);
    margin: 50px 0px;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
  }

  #title {
    font-size: 80px;
    font-weight: 700;
    padding-top: 50px;
    text-shadow: 3px 3px 0px white;
    }

  .first-project{
    text-shadow: 2px 2px 5px white;
  }

  .project{
    padding: 100px 0px;
    text-shadow: 2px 2px 5px white;
  }

  .project h2, .first-project h2{
    font-size: 44px;
  }

  .project-desc{
    font-size: 42px;
    width: 1000px;
    text-align: left;
    padding-left: 750px;
  }

  /* .projects h2{
    font-size: 44px;
  }


  .project-desc{
    font-size: 22px;
    width: 550px;
    padding-left: 50px;
  }

  #compiler-project{
    padding-bottom: 50px;
  } */


  