

#navbar{
    padding: 0px 0px 0px 0px;
    margin: 0px;
    font-size: 50px;
    text-align: center;
    text-shadow: 10px 10px 10px rgb(250, 203, 203);
}

#navbar-options {
    list-style-type: none;
    text-align: center;
}

#navbar-options li {
    display: inline-block;
    margin: 0px 100px 10px 100px;
    font-weight: bold;
}


#navbar-options li a{
    text-decoration: none;
    color: rgb(27, 2, 48);
    font-weight: bold;

}

#github-icon {
    width:200px;
    height:200px;
}

#linkedin-icon {
    width: 200px;
    height: 200px;
}

