.App {
}


.portfolio-intro {
  background-color: rgb(10, 204, 75);
  height: 550px;
}

#portfolio-intro-content {
  margin: 70px 0px;
}


.portfolio-intro p{
  margin: 0px 30%;
  padding: 30px ;
}

#hello {
  font-size: 50px;
  font-weight: 700;
}


#my-name {
  font-size: 50px;
  font-weight: 700;
}

#aspiration {
  font-size: 50px;
  font-weight: 700;
}

.social-media {
  background-color: rgb(10, 204, 75);
  height: 550px;
  margin: 170px 0px;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}


.social-media-options li{
  display: inline-block;
  font-weight: bold;
  list-style-type: none;
  margin: 0 13.5%;
}

