.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#portfolio-intro {
  padding-left: 50px;
  padding-top: 25px;
}

#portfolio-intro-info{
  margin: 0 auto;
}

#portfolio-intro th{
  font-size: 50px;
  color: rgb(0, 255, 42);
  font-weight: bold;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

#me-th{
  padding-right: 100px;
}
#about-me-pic-td{
  padding-right: 100px;
}

#about-me-th{
  /*padding: 0px 200px;*/
}

#about-me-button{
  font-size: 50px;
  font-weight: bold;
  background-image: url('./resources/images/button.png');
}

#portfolio-intro #about-me-pic{
  padding: 50px;
  
}

ReactCardFlip{
  background-color: white;
  height: 100px;
}